extends base

block title
  = block.super
  | 详情
  = object.pk
block content
  h2= object.name
  p= object.created_by.username
  p= object.description
  p= object.created_at|date

  div(ng-controller="CollectionController").ui.fluid.form.segment
    h3.ui.header
      请求
      - verbatim
        {{ location.protocol }}//{{ location.host }}{{ location.pathname }}{{ location.search }}
    div.field
      label
        地址:
      input(ng-model="base_url", maxlength=200, name="base_url", type="text")
    div.field
      label
        HTTP方法:
      div.grouped.inline.fields
        - var methods = ('GET', 'POST', 'HEAD')
        - for method in methods
          div.field
            div.ui.radio.checkbox
              - if forloop.first
                input(type="radio", name="method", value!={{ method }}, id!=method-{{ method }}, checked)
              - else
                input(type="radio", name="method", value!={{ method }}, id!=method-{{ method }}, )
              label(for!=method-{{ method }})= method
    div.field
      label
        HTTP头:
      textarea(name="headers")
    div.field
      label
        Query Params:
      div(ng-repeat="param in query").two.fields
          div.field
            input(ng-model="param.name", type="text")
          div.field
            input(ng-model="param.value", type="text")
      button(ng-click="add()") +
    div.field
      label
        | Body:
      textarea(name="body")
block javascript
  script
    function CollectionController($scope) {
      $scope.location = document.createElement('a');
      $scope.base_url = window.location;
      $scope.query = [];

      $scope.add = function() {
        $scope.query.push({'name': '', 'value': ''});
      }

      $scope.$watch(
        function() {
          return $scope.base_url + JSON.stringify($scope.query);
        }, function () {
            var validParams = $scope.query.filter(function(i) {
              return !!i.name;
            });
            $scope.location.href = $scope.base_url;
            $scope.location.search = $.param(validParams);
        });
    }
